@charset "UTF-8";

html {
    font-size: 15px;
    font-style: serif
}

body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fffff8;
    color: #111;
    max-width: 1024px;
    text-align:justify;
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

.danger {
    color: red;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;

}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
   
}


dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit;
}




div.fullwidth,
table.fullwidth {
    width: 100%;
}


ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style:decimal-leading-zero;
}

 /* The sidebar menu */
.sidenav {
   /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, .tufte-underline, .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

nav {
     display: inline-block;
     width: 100%;
     font-size: 1.6em;
     font-weight: normal;
     letter-spacing: 0px;
     text-transform: none;
     color: #999;
     padding: 10px ;
     }

     #home { float: left;}
     nav a { color: #red;
       padding: 3px 1px;
       border: 1px;
       box-shadow: none;
       text-decoration: none;
       display: inline-block;
       transition-property: color;
       transition-duration: .3s;
       transition-timing-function: ease;
      }
     nav a:nth-child(1) { margin-left: 0px; }
     nav a:hover { border: 1px;
       box-shadow: darkblue;
       color: #000; }

nav ul, footer ul {
               padding: 5px;
           list-style: none;
       }
nav ul li, footer ul li {
           display:inline;
           margin-right: 20px;
           font-size: 1em;
       }
footer {
           border-top: 1px solid #d5d5d5;
           font-size: 0.8em;
       }
