<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
  <body>
<!-- Side navigation -->
<div class="sidenav">
  <a href="#">TOP</a>
  <a href="/"> </a>
</div>

<!-- Page content -->

<div class="container">
   {{ content }}
</div><!-- /.container -->

<footer>
  <nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li>Email: mxmarin [at] pm.me</li> 
    	</ul>
  </nav>
</footer>
</body>
</html>
