<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="searchmysite-verification" content="wTCVtPkfQN3IyXNspDWDJmHCu7Rve8xRU2U3ekUKJS">
	</head>
  <body>

		<p>
    <div class="container">

      {{ content }}

      </div><!-- /.container -->
  <footer>
  <nav >
	<ul>
		<li>contacts:</li>
		<li><a href="mailto:mx@mxmarin.ca">mx@mxmarin.ca</a></li>
		<li><a rel="me" href="https://rage.love/@mxm">mastodon</a></li>
		<li><a href='https://webring.xxiivv.com/#random' target='_blank'>webring<img style="max-width: 22px" src='https://webring.xxiivv.com/icon.black.svg'/></a></li>
    	</ul>
  </nav>
</footer>
</body>
</html>
