<!DOCTYPE html>
<html>
	<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="searchmysite-verification" content="wTCVtPkfQN3IyXNspDWDJmHCu7Rve8xRU2U3ekUKJS">
</head>
<body>
<H1>{{page.title}}</h1>
<hr>

<p>
<div class="container">

{{ content }}

</div>

<footer>
<nav >	
	<ul>
	<li><a href="/">index</a></li>
	<li>external links:</li>
	<li><a href="mailto:mx@mxmarin.ca">mx@mxmarin.ca</a></li>
	<li><a rel="me" href="https://rage.love/@mxm">Photo diary</a></li>
	<li><a href='https://webring.xxiivv.com/#random' target='_blank'>web<img class= "icon" src='https://webring.xxiivv.com/icon.black.svg'/ alt="xxiivv webring">ring</a></li>
	</ul>
</nav>
</footer>
</body>
</html>
