<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta rel="me" href="https://rage.love/@mxm">
		<meta name="searchmysite-verification" content="wTCVtPkfQN3IyXNspDWDJmHCu7Rve8xRU2U3ekUKJS">
	</head>
  <body>

		<p>
    <div class="container">

      {{ content }}

      </div><!-- /.container -->
  <footer>
  <nav >
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/texts">Blog</a></li>
		<li>contact: <a href="mailto:mx@mxmarin.ca">mx@mxmarin.ca</a></li>
    	</ul>
  </nav>
</footer>
</body>
</html>
